@import url("https://fonts.googleapis.com/css2?family=Sora:wght@200&display=swap");

table thead tr {
  font-weight: 700%;
  font-family: "Sora";
  height: 1rem;
  font-size: 1.2rem;
}

tbody tr {
  border-radius: 2rem;
  height: 3rem;
  border-bottom: 0.1px solid #707070;
  border-radius: 2rem;
  font-family: "Sora";
}

td {
  padding-left: 1rem;
}
table {
  border-collapse: collapse;
}

.search-bar {
  width: 60%;
  height: 3rem;
  border-radius: 100px;
  border: 1px solid #707070;
}

.search-bar-center {
  display: flex;
  width: 100%;
  /* justify-content: center;s */
}

.input-text {
  box-sizing: border-box;
  width: 90%;
  height: 2.9rem;
  border: none;
  padding-left: 1.5rem;
  border-radius: 90px;
  font-size: 1.3rem;
  font-family: "Sora";
}

.input-text:focus {
  outline: none;
}

.date-investment {
  color: #707068;
  font-family: "Sora";
  font-size: 1.69rem;
}

.closed-adjust {
  width: 2rem;
  color: red;
}
