.navBar {
	height: 5rem;
	width: 100%;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-evenly;
	position: absolute;
	bottom: 0;
	background-color: #f1f3f4;
}
.navBar img {
	width: 25px;
	height: 25px;
}

.navBar div {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
}
